@import "_navbar.css";
@import "_carrossel.css";
@import "_footer.css";
@import "_sobre.css";
@import "_contato.css";
@import "_novidades.css";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.content-test{
    background-color: #141414;
    color: white;
    padding: 1em;
}